---
heading: Ce que je peux faire pour vous
layout: page
intro: >-
  **J﻿e suis rédactrice, pigiste, autrice...** J'aime voyager d'une case à une
  autre pour ne m'enfermer nulle part. Ce qui compte ? Ecrire. Ecrire pour
  informer, questionner, raconter.


  **J﻿e travaille avec des collectivités, associations, artistes, entreprises, magazines, agences...** J'ai à coeur de collaborer avec des clients différents pour découvrir des univers variés.


  **J﻿'écris des articles, interviews, reportages, comptes rendus, carnets de bord, sous-titres...** J'aime l'exercice d'adapter l'écriture, le style et le format aux supports ; qu'ils soient journalistiques, institutionnels ou artistiques.


  **J﻿'ai une écriture sensible, poétique et accessible...** J'ai plaisir à développer une écriture créative dans les projets qui s'y prêtent, mais suis également à l'aise dans les communications plus institutionnelles.
services:
  - title: Presse écrite
    content: Articles, interviews et reportages… Je pars à la rencontre du monde
      avec vous !
    icon: press
    colour: green
  - title: Sous-titrage
    content: Je transforme votre texte qui s’écoute en texte qui se lit.
    icon: subtitles
    colour: yellow
  - content: Supports de communication, newsletters, dossiers de presse, réseaux
      sociaux, articles de blog… Je suis curieuse de découvrir votre univers et,
      tel un caméléon, de m’y fondre pour répondre au mieux à vos attentes.
    title: Rédaction
    icon: edits
    colour: blue
  - content: Pour vous, je prends mon baluchon et pars illico-presto à la recherche
      des mots dont vous avez besoin. Je les choisis avec soin et réécris votre
      texte pour qu’il fasse mouche auprès de vos lecteurs.
    title: Réécriture / Correction
    icon: correction
    colour: orange
outro: "**Professionnelle, fiable et attentive** : j'aime me fondre dans
  l'univers de chaque projet pour le servir au mieux et créer des liens de
  confiance durables avec mes clients. **Curieuse avec un bon esprit de synthèse
  et une solide capacité d'adaptation**, je mets au service de chaque projet une
  écriture à la fois douce et impactante."
about:
  content: >-
    * De mon parcours universitaire, je garde **la rigueur de la recherche et
    une grande ouverture au monde qui m'entoure**.

    * De ma première vie professionnelle, je garde **le sens de l'organisation et une bonne connaissance du monde artistique et culturel**.

    * De ma vie personnelle, je garde **des valeurs humanistes** qu'il n'est pas question de laisser à la porte de mon activité professionnelle.
  image: /img/anais.jpg
  image_alt: Anaïs Andos
cta:
  - label: Explorer mes projets
    page: /projets-et-clients
---

<ul class="services">
    {% for service in page.services %}
        <li class="service service--{{ service.icon }} service--{{ service.colour }}">
            {% include svg/{{ service.icon }}.svg %}
            <h3>{{ service.title }}</h3>
            <p>{{ service.content | markdownify }}</p>
        </li>
    {% endfor %}
</ul>

<p class="raw-text">{{ page.outro | markdownify }}</p>

{% include components/about.html %}
