---
title: Projets & Clients
layout: full-width
description: Eh regarde tout ce que j'ai fait !
permalink: /projets-et-clients
---

<h1 class="section-heading">Projets & clients</h1>

<ul class="projects">
    {% for project in site.projects %}
    <li class="project">
        <div class="project__image">
            <img src="{{ project.image }}" alt="{{ project.client }}">
        </div>
        <div class="project__content">
            <h3>{{ project.client }}{% if project.title %} – {{ project.title }}{% endif %}</h3>
            <p>{{ project.description }}</p>
            {% if project.link %}
            <a class="btn btn-secondary project__cta" href="{{ project.link }}" target="_blank">{% if project.cta %}{{ project.cta }}{% else %}En lire plus{% endif %}</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

<div class="cta">
    <a class="btn btn-primary" href="{{'/temoignages' | relative_url }}">Voir les témoignages</a>
</div>
