---
title: Projets & Clients
layout: full-width
description: Eh regarde tout ce que j'ai fait !
permalink: /projets-et-clients
heading: Projets & Clients
projects:
  - Communauté Touraine-Est Vallées
  - Ville de Montlouis-sur-Loire
  - Compagnie Discrète
  - Tu Te (re)Mets Combien
  - Biocoop
  - Point de côté
  - Petit Futé
  - Kaizen
  - Twomorrow
  - Cepravoi
  - Villes au carré
  - Kogito
  - Corolle
  - Fritz
  - Kulturae’ Com
  - Paragraphe
  - Centre France
  - TMV
  - Festival Terres du Son
  - Les films du loup blanc
  - Carnet d’art
  - Le monde de mes mots
cta:
  - label: Voir les témoignages
    page: /temoignages
---

<ul class="projects">
    {% for client in page.projects %}
    {% assign project = site.projects | where: "client", client | first %}
    {% unless project %}{% continue %}{% endunless %}
    <li class="project">
        <div class="project__image">
            <img src="{{ project.image }}" alt="{{ project.client }}">
        </div>
        <div class="project__content">
            <h3>{{ project.client }}{% if project.title %} – {{ project.title }}{% endif %}</h3>
            <p>{{ project.description }}</p>
            {% if project.link %}
            <a class="btn btn-secondary project__cta" href="{{ project.link }}" target="_blank">{% if project.cta %}{{ project.cta }}{% else %}En lire plus{% endif %}</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
