<!DOCTYPE html>

<html>

{% include layout/head.html %}

<body class="{{ page.url | replace: '/', '' | default: 'home' }}" style="background-image: url({{ '/img/coquelicot.gif' | prepend: site.baseurl | replace: '//', '/' }})">

    {% include layout/navbar.html %}

    {% include layout/header.html %}

    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>

    {% include layout/footer.html %}

    {% include scripts/scripts.html %}

    {% include scripts/google-analytics.html %}

</body>

</html>
